h1{
    padding-left: 600px;
    font-family: "Courgette", cursive;
  }
  #image{
      width: 200px;
      margin-bottom: 50px;
      border-radius: 50%;
      margin-left: 600px;
  }
  p{
    font-family: "Courgette", cursive;
    text-align:center;
  }
  body{
    background:linear-gradient(#598eeb 100%, #73d9a8 10%);
  }
  